*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    color:white;
}
.header{
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: rgb(6, 66, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{

    position: relative;
    font-size: 45px;
    color: cyan;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff; 
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}
.navbar a:hover{
    color: cyan;
}


.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height:100vh;
    background: rgb(43, 107, 43);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;

}
.home-content p{
    font-size: 20px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color:cyan;
    text-decoration: none;
    margin: 30px 15px 30px 0;

}
.home-sci a:hover{
    background:cyan;
    color: #081b29;
    box-shadow: 0 0 20px cyan;

}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background:  cyan;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 40px;

}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px  cyan,0 0 200px cyan
}

.about{
    
   text-align: center;
    align-items: center;
    gap: 1.5rem;
    background: rgb(43, 107, 43);;
}
.about-text h2{
    font-size: 60px;
    text-align: center;
}
.about-text h2 span{
    color:cyan;
    text-align: center;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
    text-align: center;
}
.about-text p{
    margin-left: 10%;
    margin-right:10% ;

    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    align-items: center;
    text-align: center;
}

.services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom:70px ;
}
.sub-title span{
    color: #0ef;
}

.container{
    padding: 90px;
    background: rgb(43, 107, 43);;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr) );
    grid-gap:40px;
    margin-top: 50px;

}

.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 20px  cyan,
               1px 1px 40px cyan;
}

.services-list div i{
    font-size: 20px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #081b29;
    font-size: 12px;
    margin-top:20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: cyan;
    border-radius: 40px;
    font-size: 20px;
    columns: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
   
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px cyan;

}
.read:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px  cyan,0 0 200px cyan
}
.services-list div:hover{
    transform: translateY(-10px);

}
section{
    display: flex;
    flex-wrap: wrap;
}
.sub-title{
    background: rgb(43, 107, 43);;
}
.contact{
    background: rgb(43, 107, 43);;
    display:grid ;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;

}.contact-text h2 span{
    margin: 15px 0;
    color: cyan;
    font-size: 90px;
    font-weight: 680;
}
.contact-text h4{
    font-size: 30px;

}
.contact-text p{
    color:rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom:3rem ;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: cyan;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: cyan;
}
.contact-icon i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 50%;
    font: size 20px; 
    color: cyan;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s*var (--i));
}
.contact-icon i:hover{
    background:  cyan;
    color: black;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border:none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
    border-radius: .5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}


.contact-form form .send:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px  cyan,0 0 200px cyan}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: rgb(117, 236, 236);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    bottom: 2.1rem;
    right: 2,1 rem;

}
.top i{
    background: rgb(43, 107, 43);;
    color: black;
    background:cyan;
    font-size: 20px;
    padding: 10px;
  
} 